/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @brief       : A brief description of the file
 *
 * A detailed description of the file
 *
 * @created     : {{TIMESTAMP}}
 * @license     : MIT
 */

#ifndef {{MACRO_GUARD}}

#define {{MACRO_GUARD}}


class {{CLASS}}
{
  public:
    {{CLASS}} ({{CURSOR}});
    virtual ~{{CLASS}} ();
  private:
    /* private data */
};

#endif /* end of include guard {{MACRO_GUARD}} */
